.containor{
    display: grid;
    grid-template-columns: repeat(3,30%);
    justify-content: space-between;
    row-gap: 50px;
}
form{
    display: flex;
    /* border: 2px solid red; */
    justify-content: center;
    column-gap: 20px;
}
.form{
    margin-top: 10px;
    margin-bottom: 10px;
}
#search-box{
    padding: 10px;
    border: 1px solid black;
}